* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  line-height: 2;
}

.size {
  width: 90%;
  max-width: 1200px;
}

p {
  margin-bottom: 10px;
}

.list-none {
  list-style: none;
}

.tippy-popper > div {
  background: #fff;
  border-radius: 4px;
  width: 500px;
  max-width: 90%;
  border: 1px solid #ddd;
  box-shadow: 0 5px 32px -11px rgba(0,0,0,.5);
  font-size: 14px;
  text-align: left!important;
  color: #000;
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top-color: #fff;
}

.popover-text {
  display: inline-block;
  background: #3949ab;
  color: #fff;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.popover-head,
.popover-content {
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.popover-content {
  padding-top: 0;
}

.popover-bottom {
  border-top: 1px solid #ddd;
}

.popover-options {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}

.popover-img {
  width: 63px;
  min-width: 63px;
  height: 63px;
  background: #ddd;
  border-radius: 4px;
  margin-right: 10px;
  overflow: hidden;
}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popover-title {
  line-height: 1;
}

.popover-name ul li {
  font-size: 12px;
}

.popover-name {
  line-height: 1.4;
}

.popover-content {
font-size: 12px;
}

.list-title {
  opacity: .7;
  font-size: 12px;
  margin-bottom: 5px;
}

.label {
  background: #ddd;
  border-radius: 30px;
  padding: 2px 10px;
  margin: 2px;
  font-size: 12px;
}

.btn {
  background: #3949ab;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 10px;
}

.btn-info {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.popover-profile {
  display: none;
}

.popover-profile.active {
  display: block;
}
