* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*::-webkit-scrollbar {
    /* width: 1em; */
}

*::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background: #f4f4f4;
}

*::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 10px;
}

p {
  line-height: 2;
}

.size {
  width: 90%;
  max-width: 1200px;
}

p {
  margin-bottom: 10px;
}

.list-none {
  list-style: none;
}

.tippy-popper > div {
  background: #fff;
  border-radius: 4px;
  width: 500px;
  max-width: 90%;
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  border: 1px solid #ddd;
  font-size: 14px;
  text-align: left!important;
  color: #000;
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top-color: #fff;
}

.popover-text {
  display: inline-block;
  background: #3949ab;
  color: #fff;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.popover-text a {
  color: #fff;
}

.popover-head,
.popover-content {
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.popover-content {
  padding-top: 0;
  overflow-y: auto;
  max-height: 200px;
}

.popover-bottom {
  border-top: 1px solid #ddd;
}

.border-none {
  border: none;
}

.popover-options {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}

.popover-img {
  width: 63px;
  min-width: 63px;
  height: 63px;
  background: #ddd;
  border-radius: 4px;
  margin-right: 10px;
  overflow: hidden;
}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popover-title {
  line-height: 1;
}

.popover-name ul li {
  font-size: 12px;
}

.popover-name {
  line-height: 1.4;
}

.popover-content {
font-size: 12px;
}

.list-title {
  opacity: .7;
  font-size: 12px;
  margin-bottom: 5px;
}

.popover-head .label {
  margin-right: 10px;
  margin-top: 5px;
}

.label {
  background: #ddd;
  border-radius: 30px;
  padding: 2px 10px;
  margin: 2px;
  font-size: 12px;
  text-align: center;
}

.btn {
  background: #3949ab;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 10px;
}

.btn-info {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.popover-profile {
  display: none;
}

.popover-block,
.popover-profile.active {
  display: block;
}


.profile-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding: 10px 0;
  box-sizing: border-box;
}

.profile-item {
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 25%;
  min-height: 200px;
  margin: 0 10px;
}

@media (max-width: 1200px) {
  .profile-item {
    min-width: 33.3333%;
  }
}

@media (max-width: 980px) {
  .profile-item {
    min-width: 50%;
    box-shadow: none;
    border: 1px solid #ddd;
    border-right: none;
    margin: 0;
    border-radius: 0;
  }
  .profile-item:last-child {
    border-right: 1px solid #ddd;
  }
}

@media (max-width: 720px) {
  .profile-item {
    min-width: 80%;
  }
}
