.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3949AB;
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes loading {
  from {}
  to {
    height: 0;
  }
}


.intro {
  min-height: 100vh;
  width: 100%;
  background: #000;
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  transition: .3s;
}

.intro__content {
  min-height: 80vh;
}

.intro__img {
  width: 300px;
  max-width: 90%;
}

.intro__text {
  min-height: 20vh;
}

.link-item {
  color: #fff;
}

.link-item:hover {
  color: #3949AB;
}

.item-link_lg {
  font-size: 2rem;
}
